praw.ini
venv
*nltkdata/
__pycache__
.pytest_cache/
.tox
.mypy_cache/
*.egg-info/
.coverage
.ropeproject/
*.pyc
.directory
*.sqlite3
.idea/
emoji_search/emojisearch/generated*
emojifi_site/static/
SECRET_KEY
*.swp
